<!-- Filtering, Editing, Toolbar and edit type and its params in Angular Grid component -->
<!-- <ejs-grid [dataSource]='data' [allowFiltering]='allowFiltering' [editSettings]='editSettings' [toolbar]='toolbar' height='273px'>
    <e-columns>
      <e-column field='OrderID' headerText='Order ID' width=100 isPrimaryKey='true'></e-column>
      <e-column field='CustomerID' headerText='Customer ID' width=120></e-column>
      <e-column field='Freight' headerText='Freight' textAlign= 'Right'
      editType= 'numericedit' [edit]='numericParams' width=120 format= 'C2'></e-column>
      <e-column field='ShipCountry' headerText='Ship Country' editType= 'dropdownedit' [edit]='ddParams' width=150></e-column>
      <e-column field='OrderDate' headerText='Order Date' editType= 'datepickeredit' [edit]='dpParams' width=150></e-column>
      <e-column field='Verified' headerText='Verified' editType= 'booleanedit' [edit]='boolParams' width=150></e-column>
      <e-column headerText='Commands' width=120 [commands]='commands'></e-column>
    </e-columns>
</ejs-grid> -->

<!--user-managment-> Roles-->
<ejs-grid [dataSource]='data' [allowFiltering]='allowFiltering' [editSettings]='editSettings' [toolbar]='toolbar' height='273px'>
    <e-columns>
      <e-column field='UserID' headerText='User ID' width=100 isPrimaryKey='true'></e-column>
      <e-column field='Name' headerText='Name' width=150></e-column>
      <e-column field='Satuts' headerText='Satuts' editType= 'dropdownedit' [edit]='ddParams' width=120></e-column>
      <e-column headerText='Actions' width=120 [commands]='commands' textAlign= 'Left'></e-column>
    </e-columns>
</ejs-grid>