.template{
    position: fixed;
    display: flex;
    top: 17rem;
    right: -1%;
    width: 3.5rem;
    background: linear-gradient(to right, #ff9701, #ffcb80);
    border-radius: 23px;
    height: 6vh;
    align-items: center;
    color: white;
    padding-left: 1.1%;
}